/**
 * @name Floating Settings Window
 * @description Make your user settings screen look like a floating window.
 * @version 0.0.2
 * @author hiragino_yuki#1953
**/

:root {
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
}
#user-settings {
  position: fixed;
  margin: auto;
  padding-top: 0;
  width: 80%;
  max-width: 1060px;
  height: 80%;
  border-radius: 8px;
  box-shadow: 0 0 8px #1117;
  z-index: 102;
}
.da-baseLayer {
  transform: unset!important;
  opacity: 1!important;
}
.da-baseLayer::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  pointer-events: none;
  transition: backdrop-filter .25s var(--easeOutExpo);
  backdrop-filter: brightness(100%) blur(0px);
}
.da-baseLayer[aria-hidden=true]::after {
  pointer-events: all;
  backdrop-filter: brightness(75%) blur(3px);
}
#user-settings > .da-standardSidebarView {
  top: 0;
}
#user-settings > .da-standardSidebarView > .da-sidebarRegion {
  flex: unset;
}
#user-settings > .da-standardSidebarView > .da-sidebarRegion > .da-sidebarRegionScroller > .da-sidebar {
  padding-top: 50px
}
#user-settings > .da-standardSidebarView > .da-contentRegion > .da-contentTransitionWrap > .da-contentRegionScroller > .da-contentColumn {
  padding-top: 50px;
}
