/**
 * @name Floating Settings Window
 * @description Make your user settings screen look like a floating window.
 * @version 0.0.1
 * @author hiragino_yuki#1953
**/

.da-baseLayer {
  transform: unset!important;
}
.da-baseLayer[aria-hidden=true] {
  opacity: 0.5!important;
}
.da-layer#user-settings {
  position: fixed;
  margin: auto;
  padding-top: 0;
  width: 80%;
  max-width: 1060px;
  max-height: 900px;
  height: 80%;
  border-radius: 8px;
  box-shadow: 0 0 8px #1117;
}
.da-layer#user-settings > .da-standardSidebarView {
  top: 0;
}
.da-layer#user-settings > .da-standardSidebarView > .da-sidebarRegion {
  flex: unset;
}
.da-layer#user-settings > .da-standardSidebarView > .da-sidebarRegion > .da-sidebarRegionScroller > .da-sidebar {
  padding-top: 50px
}
.da-layer#user-settings > .da-standardSidebarView > .da-contentRegion > .da-contentTransitionWrap > .da-contentRegionScroller > .da-contentColumn {
  padding-top: 50px;
}
